#img{
            border: 3px solid #d50c9ceb;
            border-radius: 50%;
            display: block;
            margin: 30px auto;
            width: 180px;
            transition: transform 0.3s, box-shadow 0.3s;
            box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}
#img:hover {
            transform: scale(1.08);
            box-shadow: 0 6px 20px #fe00b6;
        }